<a href="https://colab.research.google.com/github/Adlucent/ga4-return-prediction/blob/main/2_Data_Cleaning_%26_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2. Data Cleaning & Encoding

In this notebook:<br>
1. Define GCP Variables & Import Libraries<br>
2. Load dataset saved at the end of Notebook 1<br>
3. Data Cleaning<br>
  - Update data types<br>
  - Clean column values (remove special characters, etc.)<br>
4. Data Encoding<br>
5. Write table to BQ

## Define GCP Variables

In [ ]:
################################################################################
######################### CHANGE BQ PROJECT NAME BELOW #########################
################################################################################

project_name = 'adl-analytics' #add proj name
region = "US"  # GCP project region
table_name = 'adl-analytics.return_prediction_ga4.return_prediction_ga4_1b'

## Import Libraries

In [ ]:
# If your notebook does not have pandas_gbq you can install it here:
# ! pip install pandas_gbq

In [ ]:
# Google credentials
from google.colab import auth
auth.authenticate_user()

# # BigQuery Magics
# '''BigQuery magics are used to run BigQuery SQL queries in a python environment.
# These queries can also be run in the BigQuery UI '''

# from google.cloud import bigquery
# from google.cloud.bigquery import magics, Client, QueryJobConfig

# magics.context.project = project_name #update project name
# client = bigquery.Client(project=magics.context.project)

# Interface between Jupyter and BigQuery
import pandas_gbq

# data processing libraries
import pandas as pd
import numpy as np

# visualization
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

# suppress notebook warnings
import warnings
warnings.filterwarnings('ignore')

# dataframe formatting
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 50)
pd.set_option("display.float_format", lambda x: "%.3f" % x)

# Load data

In [ ]:
sql = f"""
SELECT *
FROM `{table_name}`;
"""
data = pandas_gbq.read_gbq(sql, project_id=project_name, location=region, use_bqstorage_api=True)

Downloading: 100%|██████████|

In [ ]:
# create a copy of the imported data to avoid re-importing if we need to revert to original table
df = data.copy()

In [ ]:
df.head()

,event_date,event_name,event_params_engagement_time_msec,event_params_ga_session_id,event_params_ga_session_number,event_params_page_title,event_params_session_engaged,user_pseudo_id,user_ltv_revenue,device_category,device_mobile_brand_name,device_mobile_model_name,device_web_info_browser,geo_country,traffic_source_medium,ecommerce_total_item_quantity,ecommerce_purchase_revenue_in_usd,total_return_item_quantity,ecommerce_tax_value_in_usd,ecommerce_unique_items,ecommerce_transaction_id,item_category,item_price_in_usd,item_quantity,item_revenue_in_usd,item_refund_in_usd,item_refund_quantity,item_promotion_name
0,20201105,scroll,0,9520224276,15,Home,0.000,6430802.0723483089,0.000,desktop,Microsoft,Edge,Edge,United States,organic,0,0.000,0,0.000,0,None,None,0.000,0,0.000,0.000,0,None
1,20201116,view_promotion,0,1338488416,15,Home,0.000,637884255.3997903180,0.000,desktop,Microsoft,Edge,Edge,France,organic,0,0.000,0,0.000,1,None,None,0.000,0,0.000,0.000,0,Reach New Heights
2,20201128,view_item,18850,7416885767,21,Home,1.000,87116489.5307133653,0.000,desktop,Microsoft,Edge,Edge,Spain,Other,0,0.000,0,0.000,12,None,Home/Sale/,0.000,0,0.000,0.000,0,None
3,20201128,view_item,30247,7416885767,21,Home,1.000,87116489.5307133653,0.000,desktop,Microsoft,Edge,Edge,Spain,Other,0,0.000,0,0.000,12,None,Home/Sale/,0.000,0,0.000,0.000,0,None
4,20201128,view_item,30247,7416885767,21,Home,1.000,87116489.5307133653,0.000,desktop,Microsoft,Edge,Edge,Spain,Other,0,0.000,0,0.000,12,None,Home/Sale/,0.000,0,0.000,0.000,0,None

In [ ]:
df.shape

(2002010, 28)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2002010 entries, 0 to 2002009
Data columns (total 28 columns):
 #   Column                             Dtype
---  ------                             -----
 0   event_date                         object
 1   event_name                         object
 2   event_params_engagement_time_msec  Int64
 3   event_params_ga_session_id         object
 4   event_params_ga_session_number     Int64
 5   event_params_page_title            object
 6   event_params_session_engaged       float64
 7   user_pseudo_id                     object
 8   user_ltv_revenue                   float64
 9   device_category                    object
 10  device_mobile_brand_name           object
 11  device_mobile_model_name           object
 12  device_web_info_browser            object
 13  geo_country                        object
 14  traffic_source_medium              object
 15  ecommerce_total_item_quantity      Int64
 16  ecommerce_purchase_revenue_in_usd  float64
 17  total_return_item_quantity         Int64
 18  ecommerce_tax_value_in_usd         float64
 19  ecommerce_unique_items             Int64
 20  ecommerce_transaction_id           object
 21  item_category                      object
 22  item_price_in_usd                  float64
 23  item_quantity                      Int64
 24  item_revenue_in_usd                float64
 25  item_refund_in_usd                 float64
 26  item_refund_quantity               Int64
 27  item_promotion_name                object
dtypes: Int64(7), float64(7), object(14)
memory usage: 441.0+ MB

# Data cleaning

## ID columns
The ID columns in the dataset should be of type object, as they should be treated as categorical values even if they could be interpreted as numeric.

In [ ]:
id_cols = ['event_params_ga_session_id',
           'user_pseudo_id',
           'ecommerce_transaction_id']

In [ ]:
for col in id_cols:
    df[col] = df[col].replace({'(not set)': None})

In [ ]:
df[id_cols].dtypes

event_params_ga_session_id    object
user_pseudo_id                object
ecommerce_transaction_id      object
dtype: object

In [ ]:
df[id_cols].isna().sum()

event_params_ga_session_id          0
user_pseudo_id                      0
ecommerce_transaction_id      1987843
dtype: int64

## Datetime columns
These columns include the `event_date` column.

In [ ]:
date_cols = ['event_date']

In [ ]:
df.event_date = df.event_date.astype('datetime64')

In [ ]:
df[date_cols].dtypes

event_date    datetime64[ns]
dtype: object

In [ ]:
df[date_cols].isna().sum()

event_date    0
dtype: int64

In [ ]:
df[date_cols].describe()

                 event_date
count               2002010
unique                   92
top     2020-12-11 00:00:00
freq                  70430
first   2020-11-01 00:00:00
last    2021-01-31 00:00:00

## Boolean columns
Ultimately, we'd like to use the `epromotion_name`, and `event_params_session_engaged` features as boolean values.

In [ ]:
bool_cols = ['item_promotion_name',
             'event_params_session_engaged']

In [ ]:
df.item_promotion_name = df.item_promotion_name.apply(lambda x: True if x else False)

In [ ]:
df.event_params_session_engaged = df.event_params_session_engaged.astype(bool)

In [ ]:
df[bool_cols].dtypes

item_promotion_name             bool
event_params_session_engaged    bool
dtype: object

In [ ]:
df[bool_cols].isna().sum()

item_promotion_name             0
event_params_session_engaged    0
dtype: int64

In [ ]:
for col in bool_cols:
    print(col)
    print(df[col].value_counts())
    print()

item_promotion_name
False    1959115
True       42895
Name: item_promotion_name, dtype: int64

event_params_session_engaged
True     1967857
False      34153
Name: event_params_session_engaged, dtype: int64

## Numeric columns
Ensure that all numeric columns are properly formatted and have missing values filled in.

In [ ]:
int_cols = ['event_params_engagement_time_msec',
            'event_params_ga_session_number',
            'ecommerce_total_item_quantity',
            'total_return_item_quantity',
            'ecommerce_unique_items',
            'item_quantity',
            'item_refund_quantity']

In [ ]:
float_cols = ['user_ltv_revenue',
              'ecommerce_purchase_revenue_in_usd',
              'ecommerce_tax_value_in_usd',
              'item_price_in_usd',
              'item_revenue_in_usd',
              'item_refund_in_usd']

In [ ]:
num_cols = int_cols + float_cols

For all numeric columns, it is safe to assume that if the value is missing, it should be replaced with 0. <br>
We did this previously, so these should already be in the correct datatype and not have any missing values.

In [ ]:
df[num_cols].isna().sum()

event_params_engagement_time_msec    0
event_params_ga_session_number       0
ecommerce_total_item_quantity        0
total_return_item_quantity           0
ecommerce_unique_items               0
item_quantity                        0
item_refund_quantity                 0
user_ltv_revenue                     0
ecommerce_purchase_revenue_in_usd    0
ecommerce_tax_value_in_usd           0
item_price_in_usd                    0
item_revenue_in_usd                  0
item_refund_in_usd                   0
dtype: int64

In [ ]:
df[num_cols].dtypes

event_params_engagement_time_msec      Int64
event_params_ga_session_number         Int64
ecommerce_total_item_quantity          Int64
total_return_item_quantity             Int64
ecommerce_unique_items                 Int64
item_quantity                          Int64
item_refund_quantity                   Int64
user_ltv_revenue                     float64
ecommerce_purchase_revenue_in_usd    float64
ecommerce_tax_value_in_usd           float64
item_price_in_usd                    float64
item_revenue_in_usd                  float64
item_refund_in_usd                   float64
dtype: object

In [ ]:
df[num_cols].describe().T

,count,mean,std,min,25%,50%,75%,max
event_params_engagement_time_msec,2002010.000,10536.342,42128.630,0.000,271.000,4365.000,11406.000,36399379.000
event_params_ga_session_number,2002010.000,3.625,4.303,1.000,1.000,2.000,5.000,154.000
ecommerce_total_item_quantity,2002010.000,0.490,3.013,0.000,0.000,0.000,0.000,400.000
total_return_item_quantity,2002010.000,0.013,0.641,0.000,0.000,0.000,0.000,145.000
ecommerce_unique_items,2002010.000,7.808,5.598,0.000,0.000,12.000,12.000,30.000
item_quantity,2002010.000,0.071,0.671,0.000,0.000,0.000,0.000,160.000
item_refund_quantity,2002010.000,0.002,0.116,0.000,0.000,0.000,0.000,50.000
user_ltv_revenue,2002010.000,21.607,72.833,0.000,0.000,0.000,0.000,1530.000
ecommerce_purchase_revenue_in_usd,2002010.000,0.810,13.481,0.000,0.000,0.000,0.000,1530.000
ecommerce_tax_value_in_usd,2002010.000,0.065,1.105,0.000,0.000,0.000,0.000,140.000
item_price_in_usd,2002010.000,0.152,2.378,0.000,0.000,0.000,0.000,120.000
item_revenue_in_usd,2002010.000,0.180,3.142,0.000,0.000,0.000,0.000,704.000
item_refund_in_usd,2002010.000,0.035,1.500,0.000,0.000,0.000,0.000,406.000

## Categorical columns
Correct any formatting issues and standardize any missing values.

In [ ]:
cat_cols = ['event_name',
            'event_params_page_title',
            'device_category',
            'device_mobile_brand_name',
            'device_mobile_model_name',
            'device_web_info_browser',
            'geo_country',
            'traffic_source_medium',
            'item_category']

In [ ]:
for col in cat_cols:
    print(col)
    print(df[col].unique()[:50])
    print()

event_name
['scroll' 'view_promotion' 'view_item' 'user_engagement' 'session_start'
 'begin_checkout' 'page_view' 'add_to_cart' 'select_item' 'purchase'
 'add_payment_info' 'add_shipping_info' 'click' 'view_search_results'
 'select_promotion' 'first_visit']

event_params_page_title
['Home' 'Socks | Apparel | Google Merchandise Store'
 'Apparel | Google Merchandise Store'
 'The Google Merchandise Store - Log In' 'Sale | Google Merchandise Store'
 'Shop by Brand | Google Merchandise Store' 'Lifestyle'
 'Checkout Your Information' 'Payment Method' 'Shopping Cart'
 "Men's / Unisex | Apparel | Google Merchandise Store"
 'Womens | Apparel | Google Merchandise Store'
 'Google Unisex Pride Eco-Tee Black' 'Store search results'
 'Stickers | Stationery | Google Merchandise Store'
 'Checkout Confirmation' 'New | Google Merchandise Store'
 'Google | Shop by Brand | Google Merchandise Store' 'Google Totepak'
 'Drinkware | Lifestyle | Google Merchandise Store'
 'Small Goods | Lifestyle | Google Merchandise Store'
 'Notebooks | Stationery | Google Merchandise Store'
 'Google Mural Sticky Note Pad' 'Google Black Tee'
 'Google Youth Badge Tee Olive' 'Google SF Campus Unisex Tee'
 'The Google Merchandise Store - My Account' 'Super G Unisex Joggers'
 'Google Online Store' 'BLM Unisex Pullover Hoodie'
 'Campus Collection | Google Merchandise Store'
 'Google Seattle Campus Mug' 'Hats | Apparel | Google Merchandise Store'
 'Stationery | Google Merchandise Store' 'Google Tee Dark Blue'
 'YouTube | Shop by Brand | Google Merchandise Store'
 'Eco-Friendly | Google Merchandise Store' 'Google NYC Campus Bottle'
 'Checkout Review' 'Bags | Lifestyle | Google Merchandise Store'
 'Kids | Apparel | Google Merchandise Store' 'Google Kids Playful Tee'
 'Google Zip Hoodie F/C' 'Google Crew Grey'
 'Google Sunnyvale Campus Zip Hoodie' 'Google Kirkland Campus Unisex Tee'
 'Google Sunnyvale Campus Unisex Tee' 'Google Split Seam Tee Olive'
 'Google Blue Stojo Cup' 'Stan and Friends Tee Green']

device_category
['desktop' 'tablet' 'mobile']

device_mobile_brand_name
['Microsoft' 'Apple' 'Other' 'Samsung' 'Google' 'Xiaomi' 'Huawei'
 'Mozilla']

device_mobile_model_name
['Edge' 'iPad' 'Other' 'Chrome' 'Safari' 'iPhone' 'Firefox' 'ChromeBook'
 'Pixel 3' 'Pixel 4 XL']

device_web_info_browser
['Edge' 'Chrome' 'Safari' 'Other' 'Android Webview' 'Firefox']

geo_country
['United States' 'France' 'Spain' 'Netherlands' 'Canada' 'Switzerland'
 'United Kingdom' 'India' 'Hong Kong' 'Thailand' 'Australia' 'Singapore'
 'Colombia' 'Germany' 'Philippines' 'Poland' 'Mexico' 'South Korea'
 'Pakistan' 'Turkey' 'Malaysia' 'Georgia' 'Denmark' 'Egypt' 'Algeria' None
 'Taiwan' 'Italy' 'Peru' 'China' 'Saudi Arabia' 'Portugal' 'Brazil'
 'Russia' 'Indonesia' 'Vietnam' 'Serbia' 'Puerto Rico' 'Greece' 'Japan'
 'Ukraine' 'Israel' 'United Arab Emirates' 'Czechia' 'Belgium' 'Mongolia'
 'Palestine' 'Austria' 'Slovakia' 'Ireland']

traffic_source_medium
['organic' 'Other' None 'cpc' 'referral']

item_category
[None 'Home/Sale/' "Home/Apparel/Men's / Unisex/" 'Home/Shop by Brand/'
 'Home/Apparel/' 'Lifestyle/' 'Lifestyle' "Women's"
 "Home/Apparel/Women's/" 'Apparel' 'Home/Stationery/Stickers/' 'New'
 'Google' 'Campus Collection' 'Home/New/' 'Home/Shop by Brand/Google/'
 'Lifestyle/Small Goods/' 'Office' 'Home/Stationery/Notebooks/'
 'Home/Apparel/Socks/' 'Sale' 'Lifestyle/Drinkware/'
 'Home/Campus Collection/' "Men's / Unisex" 'Home/Apparel/Hats/'
 'Home/Stationery/' 'Home/Shop by Brand/YouTube/' 'Clearance'
 'Lifestyle/Bags/' 'Home/Eco-Friendly/' 'Shop by Brand' 'Bags'
 'Home/Apparel/Kids/' 'Accessories' 'Small Goods' 'Drinkware'
 'Uncategorized Items' 'Kids' 'Home/Shop by Brand/Google Cloud/'
 'Eco-Friendly' 'Home/Shop by Brand/Android/' 'Electronics Accessories'
 'Notebooks' 'Home/Stationery/Writing/' 'Writing Instruments' 'Writing'
 'Stationery' 'Notebooks & Journals' 'Water Bottles/' "Kid's-Infant/"]

Since we already replaced missing values previously, the data does not need null value replacement here.

In [ ]:
df[cat_cols].isna().sum()

event_name                       0
event_params_page_title       1514
device_category                  0
device_mobile_brand_name         0
device_mobile_model_name         0
device_web_info_browser          0
geo_country                  13754
traffic_source_medium       732408
item_category               646422
dtype: int64

In [ ]:
df[cat_cols].dtypes

event_name                  object
event_params_page_title     object
device_category             object
device_mobile_brand_name    object
device_mobile_model_name    object
device_web_info_browser     object
geo_country                 object
traffic_source_medium       object
item_category               object
dtype: object

### Parse `event_params_page_title` and `items_item_category`

In [ ]:
df.event_params_page_title = df.event_params_page_title.apply(lambda x: x.replace(' | Google Merchandise Store', '') if x is not None else x)

In [ ]:
df.item_category = df.item_category.apply(lambda x: x.replace('Home/', '').strip('/') if x is not None else x)

In [ ]:
exclude_words = ['#IamRemarkable',
                 'Android',
                 'BLM',
                 'Android',
                 'Google',
                 'Friends',
                 'Supernatural',
                 'Unisex',
                 'YouTube',
                 'Tote',
                 'Sticker',
                 'Food',
                 'Straw/',
                 'Tee']

In [ ]:
df['event_params_parent_page'] = df.event_params_page_title.apply(lambda x: x.split(' | ')[1] \
                                                                  if (x is not None) and (len(x.split(' | ')) > 1) \
                                                                  else None \
                                                                  if (x is not None) and (set(x.split(' ')).intersection(exclude_words))\
                                                                  else x)

In [ ]:
df.event_params_parent_page = df.event_params_parent_page.replace({"Kids' Apparel": 'Apparel'})

In [ ]:
df['event_params_parent_page'].unique()

array(['Home', 'Apparel', None, 'Sale', 'Shop by Brand', 'Lifestyle',
       'Checkout Your Information', 'Payment Method', 'Shopping Cart',
       'Store search results', 'Stationery', 'Checkout Confirmation',
       'New', 'Campus Collection', 'Eco-Friendly', 'Checkout Review',
       'Black Lives Matter', 'Your Wishlist',
       'Frequently Asked Questions', 'Page Unavailable', 'Return Policy',
       'Shipping Information', 'Drinkware', 'Accessories', 'Gift Cards',
       'Bags', 'Office', 'Electronics', 'Terms of Use'], dtype=object)

In [ ]:
df['event_params_child_page'] = df.event_params_page_title.apply(lambda x: x.split(' | ')[0] if (x is not None) and (len(x.split(' | ')) > 1) else None)

In [ ]:
df['event_params_child_page'].unique()

array([None, 'Socks', "Men's / Unisex", 'Womens', 'Stickers', 'Google',
       'Drinkware', 'Small Goods', 'Notebooks', 'Hats', 'YouTube', 'Bags',
       'Kids', 'Android', 'Google Cloud', 'Writing', 'Water Bottles',
       'Infant', '#IamRemarkable', "Men's T-Shirts", 'Mugs & Tumblers',
       'Youth', 'More Bags', 'Toddler', 'Backpacks', 'Shopping & Totes',
       "Women's T-Shirts", 'Audio'], dtype=object)

In [ ]:
df.item_category = df.item_category.apply(lambda x: x.replace("Kid's-", '')\
                                                     .replace('Kids-', '')\
                                                     .replace('Notebooks & Journals', 'Notebooks')\
                                                     .replace('Shopping and Totes', 'Shopping & Totes')\
                                                     .replace("Women's", 'Womens')\
                                                     .replace('Writing Instruments', 'Writing') if x is not None else x)

In [ ]:
df['item_parent_category'] = df.item_category.apply(lambda x: x.split('/')[0].strip() \
                                                    if (x is not None) and (len(x.split('/')) == 2) and (x != "Men's / Unisex") \
                                                    else '/'.join(x.split('/')[1:]) \
                                                    if (x is not None) and (len(x.split('/')) == 3) \
                                                    else x)

In [ ]:
df['item_parent_category'].unique()

array([None, 'Sale', "Men's / Unisex", 'Shop by Brand', 'Apparel',
       'Lifestyle', 'Womens', 'Stationery', 'New', 'Google',
       'Campus Collection', 'Office', 'Clearance', 'Eco-Friendly', 'Bags',
       'Accessories', 'Small Goods', 'Drinkware', 'Uncategorized Items',
       'Kids', 'Electronics Accessories', 'Notebooks', 'Writing',
       'Water Bottles', 'Infant', 'Fun', 'Black Lives Matter',
       "Men's T-Shirts", 'Hats', 'Android', 'Mugs & Tumblers', 'Youth',
       'More Bags', 'Toddler', 'YouTube', 'Gift Cards', 'Backpacks',
       'Shopping & Totes'], dtype=object)

In [ ]:
df['item_child_category'] = df.item_category.apply(lambda x: x.split('/')[1] \
                                                   if (x is not None) and (len(x.split('/')) == 2) and (x != "Men's / Unisex") \
                                                   else '/'.join(x.split('/')[1:]) \
                                                   if (x is not None) and (len(x.split('/')) == 3)\
                                                   else x)

In [ ]:
df['item_child_category'].unique()

array([None, 'Sale', "Men's / Unisex", 'Shop by Brand', 'Apparel',
       'Lifestyle', 'Womens', 'Stickers', 'New', 'Google',
       'Campus Collection', 'Small Goods', 'Office', 'Notebooks', 'Socks',
       'Drinkware', 'Hats', 'Stationery', 'YouTube', 'Clearance', 'Bags',
       'Eco-Friendly', 'Kids', 'Accessories', 'Uncategorized Items',
       'Google Cloud', 'Android', 'Electronics Accessories', 'Writing',
       'Water Bottles', 'Infant', 'Fun', 'Black Lives Matter',
       "Men's T-Shirts", '#IamRemarkable', 'Mugs & Tumblers', 'Youth',
       'More Bags', 'Toddler', 'Gift Cards', 'Backpacks',
       'Shopping & Totes'], dtype=object)

**Determine parent categories, child categories, and child subcategories**

In [ ]:
# assume event_params_parent_page contains all actual parent categories
# remove categories that are actually child categories
# remove_from_parent = ['Drinkware', 'Bags', "Campus Collection", "Eco-Friendly", "Black Lives Matter", 'Office']
parent_categories = list(df['event_params_parent_page'].unique())

In [ ]:
parent_categories.remove('Accessories')
parent_categories.remove('Bags')
parent_categories.remove('Black Lives Matter')
parent_categories.remove('Campus Collection')
parent_categories.remove('Drinkware')
parent_categories.remove('Eco-Friendly')
parent_categories.remove('Office')
parent_categories

['Home',
 'Apparel',
 None,
 'Sale',
 'Shop by Brand',
 'Lifestyle',
 'Checkout Your Information',
 'Payment Method',
 'Shopping Cart',
 'Store search results',
 'Stationery',
 'Checkout Confirmation',
 'New',
 'Checkout Review',
 'Your Wishlist',
 'Frequently Asked Questions',
 'Page Unavailable',
 'Return Policy',
 'Shipping Information',
 'Gift Cards',
 'Electronics',
 'Terms of Use']

In [ ]:
# assume event_params_child_page that have a parent that is not identified as a parent category is a child-sub category
child_subcategories = list(df[~df.event_params_parent_page.isin(parent_categories)]['event_params_child_page'].drop_duplicates().values)
child_subcategories += ["Men's T-Shirts", 'Infant', 'Youth', 'Toddler', "Women's T-Shirts"]
child_subcategories

[None,
 'Water Bottles',
 'Mugs & Tumblers',
 'More Bags',
 'Backpacks',
 'Shopping & Totes',
 "Men's T-Shirts",
 'Infant',
 'Youth',
 'Toddler',
 "Women's T-Shirts"]

In [ ]:
# assume whatever event_params_child_page that are not subcategories are child categories
child_categories = list(set(df.event_params_child_page.unique()).difference(child_subcategories))
child_categories

['Drinkware',
 'Android',
 'YouTube',
 'Small Goods',
 'Womens',
 "Men's / Unisex",
 'Kids',
 'Google',
 'Writing',
 'Bags',
 'Notebooks',
 'Google Cloud',
 'Hats',
 '#IamRemarkable',
 'Stickers',
 'Socks',
 'Audio']

Seeing the values that are in `item_category`, fill out more parent, child, and child subcategories

In [ ]:
# uncategorized "parent" categories
set(df['item_parent_category'].unique()).difference(parent_categories).difference(child_categories).difference(child_subcategories)

{'Accessories',
 'Black Lives Matter',
 'Campus Collection',
 'Clearance',
 'Eco-Friendly',
 'Electronics Accessories',
 'Fun',
 'Office',
 'Uncategorized Items'}

In [ ]:
parent_categories += ['Clearance']

In [ ]:
child_categories += ['Accessories', 'Black Lives Matter', 'Campus Collection', 'Eco-Friendly', 'Fun', 'Uncategorized Items', 'Office']

In [ ]:
child_subcategories += ['Electronics Accessories']

In [ ]:
# uncategorized "child" categories, None
set(df['item_child_category'].unique()).difference(parent_categories).difference(child_categories).difference(child_subcategories)

set()

Now that parent, child, and child subcategories are determined, correctly parse the information that is in the `items_item_category` column.

In [ ]:
df['split_item_category'] = df.item_category.apply(lambda x: x.split('/') \
                                                   if (x is not None) and (len(x.split('/')) < 3) and (x != "Men's / Unisex") \
                                                   else ['/'.join(x.split('/')[1:])] \
                                                   if (x is not None) and (x != "Men's / Unisex") \
                                                   else [x] \
                                                   if (x is not None) \
                                                   else x)

In [ ]:
df['item_parent_category'] = df['split_item_category'].apply(lambda x: list(set(x).intersection(parent_categories))[0] \
                                                             if (x is not None) and (set(x).intersection(parent_categories)) \
                                                             else None)

In [ ]:
df['item_child_category'] = df['split_item_category'].apply(lambda x: list(set(x).intersection(child_categories))[0] \
                                                            if (x is not None) and (set(x).intersection(child_categories)) \
                                                            else None)

In [ ]:
df['item_child_subcategory'] = df['split_item_category'].apply(lambda x: list(set(x).intersection(child_subcategories))[0] \
                                                               if (x is not None) and (set(x).intersection(child_subcategories)) \
                                                               else None)

In [ ]:
df[['item_parent_category', 'item_child_category', 'item_child_subcategory']].drop_duplicates().sort_values(['item_child_category', 'item_parent_category'])[:25]

      item_parent_category item_child_category item_child_subcategory
56389        Shop by Brand      #IamRemarkable                   None
709                   None         Accessories                   None
4086         Shop by Brand             Android                   None
59092                 None             Android                   None
563              Lifestyle                Bags                   None
613                   None                Bags                   None
47648                 None  Black Lives Matter                   None
83                    None   Campus Collection                   None
293              Lifestyle           Drinkware                   None
974                   None           Drinkware                   None
594                   None        Eco-Friendly                   None
40866                 None                 Fun                   None
93           Shop by Brand              Google                   None
82                    None              Google                   None
2025         Shop by Brand        Google Cloud                   None
420                Apparel                Hats                   None
58701                 None                Hats                   None
618                Apparel                Kids                   None
1687                  None                Kids                   None
6                     None      Men's / Unisex                   None
145             Stationery           Notebooks                   None
10537                 None           Notebooks                   None
140                   None              Office                   None
129              Lifestyle         Small Goods                   None
890                   None         Small Goods                   None

In [ ]:
df[['item_parent_category', 'item_child_category', 'item_child_subcategory']].sort_values(['item_child_category', 'item_parent_category']).drop_duplicates()[25:]

       item_parent_category  item_child_category   item_child_subcategory
208                 Apparel                Socks                     None
80               Stationery             Stickers                     None
1181                   None  Uncategorized Items                     None
60                  Apparel               Womens                     None
59                     None               Womens                     None
12526            Stationery              Writing                     None
12564                  None              Writing                     None
486           Shop by Brand              YouTube                     None
195990                 None              YouTube                     None
21                  Apparel                 None                     None
494               Clearance                 None                     None
199340           Gift Cards                 None                     None
26                Lifestyle                 None                     None
81                      New                 None                     None
2                      Sale                 None                     None
19            Shop by Brand                 None                     None
450              Stationery                 None                     None
0                      None                 None                     None
5585                   None                 None  Electronics Accessories
28836                  None                 None            Water Bottles
29470                  None                 None                   Infant
49251                  None                 None           Men's T-Shirts
66372                  None                 None          Mugs & Tumblers
108470                 None                 None                    Youth
169873                 None                 None                More Bags
182445                 None                 None                  Toddler
634822                 None                 None                Backpacks
935769                 None                 None         Shopping & Totes

In [ ]:
# fix some categorizations that are missing upstream categories
df.loc[df.item_child_category == 'Accessories', 'item_parent_category'] = 'Apparel'
df.loc[df.item_child_category == 'Black Lives Matter', 'item_parent_category'] = 'Collections'
df.loc[df.item_child_category == 'Campus Collection', 'item_parent_category'] = 'Collections'
df.loc[df.item_child_category == 'Eco-Friendly', 'item_parent_category'] = 'Lifestyle'
df.loc[df.item_child_category == 'Fun', 'item_parent_category'] = 'Lifestyle'
df.loc[df.item_child_subcategory == "Men's / Unisex", 'item_parent_category'] = 'Apparel'
df.loc[df.item_child_category == 'Office', 'item_parent_category'] = 'Lifestyle'
df.loc[df.item_child_category == 'Uncategorized Items', 'item_parent_category'] = 'Lifestyle'

In [ ]:
# fix child subcategories that are missing upstream categories
df.loc[df.item_child_subcategory == "Men's T-Shirts", 'item_parent_category'] = 'Apparel'
df.loc[df.item_child_subcategory == "Men's T-Shirts", 'item_child_category'] = "Men's / Unisex"
df.loc[df.item_child_subcategory == 'Mugs & Tumblers', 'item_parent_category'] = 'Lifestyle'
df.loc[df.item_child_subcategory == 'Mugs & Tumblers', 'item_child_category'] = 'Drinkware'
df.loc[df.item_child_subcategory == 'Backpacks', 'item_parent_category'] = 'Lifestyle'
df.loc[df.item_child_subcategory == 'Backpacks', 'item_child_category'] = 'Bags'
df.loc[df.item_child_subcategory == 'Water Bottles', 'item_parent_category'] = 'Lifestyle'
df.loc[df.item_child_subcategory == 'Water Bottles', 'item_child_category'] = 'Drinkware'
df.loc[df.item_child_subcategory == 'More Bags', 'item_parent_category'] = 'Lifestyle'
df.loc[df.item_child_subcategory == 'More Bags', 'item_child_category'] = 'Bags'
df.loc[df.item_child_subcategory == 'Electronics Accessories', 'item_parent_category'] = 'Apparel'
df.loc[df.item_child_subcategory == 'Electronics Accessories', 'item_child_category'] = 'Accessories'
df.loc[df.item_child_subcategory == 'Shopping & Totes', 'item_parent_category'] = 'Lifestyle'
df.loc[df.item_child_subcategory == 'Shopping & Totes', 'item_child_category'] = 'Bags'
df.loc[df.item_child_subcategory == 'Infant', 'item_parent_category'] = 'Apparel'
df.loc[df.item_child_subcategory == 'Infant', 'item_child_category'] = 'Kids'
df.loc[df.item_child_subcategory == 'Youth', 'item_parent_category'] = 'Apparel'
df.loc[df.item_child_subcategory == 'Youth', 'item_child_category'] = 'Kids'
df.loc[df.item_child_subcategory == 'Toddler', 'item_parent_category'] = 'Apparel'
df.loc[df.item_child_subcategory == 'Toddler', 'item_child_category'] = 'Kids'

In [ ]:
missing_categorizatons = df[(df.item_parent_category.isna()) & (~df.item_child_category.isna())][['item_parent_category', 'item_child_category']].drop_duplicates()
missing_categorizatons

       item_parent_category item_child_category
6                      None      Men's / Unisex
59                     None              Womens
82                     None              Google
613                    None                Bags
890                    None         Small Goods
974                    None           Drinkware
1687                   None                Kids
10537                  None           Notebooks
12564                  None             Writing
58701                  None                Hats
59092                  None             Android
195990                 None             YouTube

In [ ]:
correct_categorizations = df[(~df.item_parent_category.isna()) & (~df.item_child_category.isna())][['item_parent_category', 'item_child_category']].drop_duplicates()

In [ ]:
for i, row in missing_categorizatons.iterrows():
    correct_parent = correct_categorizations[correct_categorizations.item_child_category == row['item_child_category']]['item_parent_category'].values[0]
    df.loc[df.item_child_category == row['item_child_category'], 'item_parent_category'] = correct_parent

In [ ]:
df[['item_parent_category', 'item_child_category', 'item_child_subcategory']].drop_duplicates().sort_values(['item_child_category', 'item_parent_category'])

       item_parent_category  item_child_category   item_child_subcategory
56389         Shop by Brand       #IamRemarkable                     None
709                 Apparel          Accessories                     None
5585                Apparel          Accessories  Electronics Accessories
4086          Shop by Brand              Android                     None
563               Lifestyle                 Bags                     None
169873            Lifestyle                 Bags                More Bags
634822            Lifestyle                 Bags                Backpacks
935769            Lifestyle                 Bags         Shopping & Totes
47648           Collections   Black Lives Matter                     None
83              Collections    Campus Collection                     None
293               Lifestyle            Drinkware                     None
28836             Lifestyle            Drinkware            Water Bottles
66372             Lifestyle            Drinkware          Mugs & Tumblers
594               Lifestyle         Eco-Friendly                     None
40866             Lifestyle                  Fun                     None
82            Shop by Brand               Google                     None
2025          Shop by Brand         Google Cloud                     None
420                 Apparel                 Hats                     None
618                 Apparel                 Kids                     None
29470               Apparel                 Kids                   Infant
108470              Apparel                 Kids                    Youth
182445              Apparel                 Kids                  Toddler
6                   Apparel       Men's / Unisex                     None
49251               Apparel       Men's / Unisex           Men's T-Shirts
145              Stationery            Notebooks                     None
140               Lifestyle               Office                     None
129               Lifestyle          Small Goods                     None
208                 Apparel                Socks                     None
80               Stationery             Stickers                     None
1181              Lifestyle  Uncategorized Items                     None
59                  Apparel               Womens                     None
12526            Stationery              Writing                     None
486           Shop by Brand              YouTube                     None
21                  Apparel                 None                     None
494               Clearance                 None                     None
199340           Gift Cards                 None                     None
26                Lifestyle                 None                     None
81                      New                 None                     None
2                      Sale                 None                     None
19            Shop by Brand                 None                     None
450              Stationery                 None                     None
0                      None                 None                     None

# Encode data
In order to use non-numeric features in machine learning, they have to be encoded to numeric values. <br>
This includes any categorical or boolean features.

## Boolean features

In [ ]:
bool_cols = df.select_dtypes('bool').columns
bool_cols

Index(['event_params_session_engaged', 'item_promotion_name'], dtype='object')

In [ ]:
df[bool_cols] = df[bool_cols].astype(int)
df[bool_cols].head()

   event_params_session_engaged  item_promotion_name
0                             0                    0
1                             0                    1
2                             1                    0
3                             1                    0
4                             1                    0

## Categorical features
I'll use one hot encoding for categorical features here.

In [ ]:
cat_cols = df.select_dtypes('object').columns
cat_cols

Index(['event_name', 'event_params_ga_session_id', 'event_params_page_title',
       'user_pseudo_id', 'device_category', 'device_mobile_brand_name',
       'device_mobile_model_name', 'device_web_info_browser', 'geo_country',
       'traffic_source_medium', 'ecommerce_transaction_id', 'item_category',
       'event_params_parent_page', 'event_params_child_page',
       'item_parent_category', 'item_child_category', 'split_item_category',
       'item_child_subcategory'],
      dtype='object')

In [ ]:
value_counts = {}

for col in cat_cols:
    if ('_id' not in col) and ('_page_title' not in col) and ('item_category' not in col):
        value_counts[col] = df[col].value_counts(normalize=True)
        print(col)
        print(df[col].value_counts(normalize=True))
        print()

event_name
view_item             0.453
add_to_cart           0.150
page_view             0.114
user_engagement       0.105
scroll                0.056
select_item           0.053
begin_checkout        0.030
view_promotion        0.008
purchase              0.008
session_start         0.008
add_shipping_info     0.006
add_payment_info      0.006
first_visit           0.002
view_search_results   0.001
select_promotion      0.000
click                 0.000
Name: event_name, dtype: float64

device_category
desktop   0.574
mobile    0.403
tablet    0.023
Name: device_category, dtype: float64

device_mobile_brand_name
Apple       0.423
Google      0.353
Samsung     0.079
Other       0.077
Xiaomi      0.022
Microsoft   0.021
Huawei      0.013
Mozilla     0.012
Name: device_mobile_brand_name, dtype: float64

device_mobile_model_name
Chrome       0.284
iPhone       0.214
Other        0.211
Safari       0.193
ChromeBook   0.052
Edge         0.019
iPad         0.013
Firefox      0.012
Pixel 4 XL   0.001
Pixel 3      0.001
Name: device_mobile_model_name, dtype: float64

device_web_info_browser
Chrome            0.685
Safari            0.236
Other             0.031
Edge              0.019
Firefox           0.017
Android Webview   0.012
Name: device_web_info_browser, dtype: float64

geo_country
United States    0.447
India            0.091
Canada           0.082
United Kingdom   0.030
Spain            0.021
                  ...
Luxembourg       0.000
Qatar            0.000
Bahamas          0.000
Honduras         0.000
Cambodia         0.000
Name: geo_country, Length: 100, dtype: float64

traffic_source_medium
organic    0.447
referral   0.347
Other      0.156
cpc        0.050
Name: traffic_source_medium, dtype: float64

event_params_parent_page
Apparel                      0.300
Home                         0.136
Lifestyle                    0.135
Sale                         0.109
Checkout Your Information    0.057
Stationery                   0.049
Shopping Cart                0.045
Shop by Brand                0.044
New                          0.027
Campus Collection            0.023
Payment Method               0.022
Eco-Friendly                 0.019
Checkout Confirmation        0.016
Checkout Review              0.007
Store search results         0.007
Your Wishlist                0.001
Frequently Asked Questions   0.001
Drinkware                    0.000
Return Policy                0.000
Gift Cards                   0.000
Shipping Information         0.000
Office                       0.000
Bags                         0.000
Page Unavailable             0.000
Black Lives Matter           0.000
Accessories                  0.000
Electronics                  0.000
Terms of Use                 0.000
Name: event_params_parent_page, dtype: float64

event_params_child_page
Men's / Unisex     0.329
Womens             0.123
Drinkware          0.115
Small Goods        0.078
Kids               0.063
Bags               0.058
Hats               0.054
Google             0.054
Notebooks          0.037
Writing            0.025
YouTube            0.020
Stickers           0.017
Socks              0.012
Android            0.009
Men's T-Shirts     0.003
#IamRemarkable     0.001
Mugs & Tumblers    0.001
Google Cloud       0.001
Infant             0.000
Water Bottles      0.000
Backpacks          0.000
More Bags          0.000
Shopping & Totes   0.000
Youth              0.000
Toddler            0.000
Audio              0.000
Women's T-Shirts   0.000
Name: event_params_child_page, dtype: float64

item_parent_category
Apparel         0.421
Lifestyle       0.204
Sale            0.171
Shop by Brand   0.064
Stationery      0.061
Collections     0.041
New             0.035
Clearance       0.002
Gift Cards      0.000
Name: item_parent_category, dtype: float64

item_child_category
Men's / Unisex        0.310
Womens                0.111
Drinkware             0.105
Small Goods           0.066
Campus Collection     0.060
Kids                  0.058
Google                0.055
Bags                  0.051
Hats                  0.042
Notebooks             0.031
Eco-Friendly          0.030
Writing               0.021
YouTube               0.017
Stickers              0.013
Android               0.007
Socks                 0.007
Accessories           0.007
Office                0.004
Uncategorized Items   0.003
#IamRemarkable        0.001
Google Cloud          0.000
Fun                   0.000
Black Lives Matter    0.000
Name: item_child_category, dtype: float64

item_child_subcategory
Men's T-Shirts            0.614
Mugs & Tumblers           0.226
Electronics Accessories   0.073
Infant                    0.036
Water Bottles             0.019
Backpacks                 0.014
More Bags                 0.008
Shopping & Totes          0.004
Youth                     0.003
Toddler                   0.003
Name: item_child_subcategory, dtype: float64

In [ ]:
# store the what categorical levels are doing to be transformed into for one-hot encoding
cat_dict = {}

for key, value in value_counts.items():
    # if less than or equal to 10 distinct levels,
    # keep all levels
    # no transformation
    if len(value) <= 6:
        cat_dict[key] = {(level): (level.replace(' ', '') if level != None else level) for level in value.index}
    # if greater than 6 distinct levels,
    # keep top proportion levels
    # and create 'Other' level for lower proportion levels
    ## EXCEPT for None, None is always its own level ##
    else:
        if key == 'geo_country':
            keep_levels = value[value >= 0.02]
            drop_levels = value[value < 0.02]
        elif key == 'item_child_category':
            keep_levels = value[value >= 0.05]
            drop_levels = value[value < 0.05]
        else:
            keep_levels = value[value >= 0.01]
            drop_levels = value[value < 0.01]

        cat_dict[key] = {(level): (level.replace("'", '').replace('-', '').replace('/', '').replace('&', '').replace(' ', '') if level != None else level) for level in keep_levels.index}
        cat_dict[key].update({(level): ('Other' if level != None else level) for level in drop_levels.index})

In [ ]:
for key, value in cat_dict.items():
    df[key] = df[key].replace(value)

In [ ]:
for col in cat_cols:
    if ('_id' not in col) and ('_page_title' not in col) and ('item_category' not in col):
        value_counts[col] = df[col].value_counts(normalize=True)
        print(col)
        print(df[col].value_counts())
        print()

event_name
view_item          906923
add_to_cart        299477
page_view          228328
user_engagement    209469
scroll             112920
select_item        106009
Other               78159
begin_checkout      60725
Name: event_name, dtype: int64

device_category
desktop    1148852
mobile      807227
tablet       45931
Name: device_category, dtype: int64

device_mobile_brand_name
Apple        847013
Google       706425
Samsung      157394
Other        154113
Xiaomi        43507
Microsoft     42176
Huawei        26702
Mozilla       24680
Name: device_mobile_brand_name, dtype: int64

device_mobile_model_name
Chrome        569218
iPhone        428185
Other         426524
Safari        385527
ChromeBook    103773
Edge           37084
iPad           27019
Firefox        24680
Name: device_mobile_model_name, dtype: int64

device_web_info_browser
Chrome            1371104
Safari             472330
Other               62902
Edge                37678
Firefox             34308
AndroidWebview      23688
Name: device_web_info_browser, dtype: int64

geo_country
UnitedStates     888477
Other            613666
India            180529
Canada           163859
UnitedKingdom     60276
Spain             41247
France            40202
Name: geo_country, dtype: int64

traffic_source_medium
organic     567667
referral    440703
Other       198296
cpc          62936
Name: traffic_source_medium, dtype: int64

event_params_parent_page
Apparel                    551485
Home                       249308
Lifestyle                  248516
Sale                       199635
CheckoutYourInformation    104743
Stationery                  89860
ShoppingCart                83209
ShopbyBrand                 81547
New                         50524
CampusCollection            43045
PaymentMethod               40881
EcoFriendly                 34183
Other                       30872
CheckoutConfirmation        30180
Name: event_params_parent_page, dtype: int64

event_params_child_page
MensUnisex    278755
Womens        103777
Drinkware      96954
SmallGoods     66329
Kids           53330
Bags           49329
Hats           45761
Google         45689
Notebooks      30941
Writing        21264
YouTube        17220
Stickers       14215
Other          12790
Socks           9824
Name: event_params_child_page, dtype: int64

item_parent_category
Apparel        570791
Lifestyle      276978
Sale           232309
ShopbyBrand     86818
Stationery      82506
Collections     55394
New             47168
Other            3624
Name: item_parent_category, dtype: int64

item_child_category
MensUnisex          285462
Other               168193
Womens              102581
Drinkware            97046
SmallGoods           60398
CampusCollection     55376
Kids                 53760
Google               50637
Bags                 47223
Name: item_child_category, dtype: int64

item_child_subcategory
MensTShirts               1781
MugsTumblers               656
ElectronicsAccessories     211
Infant                     105
WaterBottles                56
Other                       52
Backpacks                   42
Name: item_child_subcategory, dtype: int64

In [ ]:
one_hot_dict = {}

for col in cat_dict.keys():
    one_hot_dict[col] = pd.get_dummies(df[col], prefix=col)
    # drop one column to avoid multicollinearity issues
    # if a None column is availible, drop None (pd.get_dummies automatically ignores None)
    # elif drop Other
    # else drop the smallest category
    if (one_hot_dict[col].shape[1] > 1) & (None not in df[col].unique()):
        drop_level = ''
        if 'Other' in df[col].unique():
            drop_level = 'Other'
        else:
            drop_level = (value_counts[col].index[-1]).replace(' ', '')
        print(drop_level)
        one_hot_dict[col].drop(f'{col}_{drop_level}', axis=1, inplace=True)

Other
tablet
Other
Other
Other

In [ ]:
cat_cols = df.select_dtypes('object').columns
cat_cols

Index(['event_name', 'event_params_ga_session_id', 'event_params_page_title',
       'user_pseudo_id', 'device_category', 'device_mobile_brand_name',
       'device_mobile_model_name', 'device_web_info_browser', 'geo_country',
       'traffic_source_medium', 'ecommerce_transaction_id', 'item_category',
       'event_params_parent_page', 'event_params_child_page',
       'item_parent_category', 'item_child_category', 'split_item_category',
       'item_child_subcategory'],
      dtype='object')

In [ ]:
df_non_categorical = df[['event_date',
                         'event_params_engagement_time_msec',
                         'event_params_ga_session_id',
                         'event_params_ga_session_number',
                         'event_params_session_engaged',
                         'user_pseudo_id',
                         'user_ltv_revenue',
                         'ecommerce_total_item_quantity',
                         'total_return_item_quantity',
                         'ecommerce_purchase_revenue_in_usd',
                         'ecommerce_tax_value_in_usd',
                         'ecommerce_unique_items',
                         'ecommerce_transaction_id',
                         'item_price_in_usd',
                         'item_promotion_name',
                         'item_quantity',
                         'item_refund_in_usd',
                         'item_refund_quantity',
                         'item_revenue_in_usd']]

In [ ]:
len(['event_date',
     'event_params_engagement_time_msec',
     'event_params_ga_session_id',
     'event_params_ga_session_number',
     'event_params_session_engaged',
     'user_pseudo_id',
     'user_ltv_revenue',
     'ecommerce_total_item_quantity',
     'total_return_item_quantity',
     'ecommerce_purchase_revenue_in_usd',
     'ecommerce_tax_value_in_usd',
     'ecommerce_unique_items',
     'ecommerce_transaction_id',
     'item_price_in_usd',
     'item_promotion_name',
     'item_quantity',
     'item_refund_in_usd',
     'item_refund_quantity',
     'item_revenue_in_usd'])

19

In [ ]:
df_final = pd.concat([df_non_categorical] + list(one_hot_dict.values()), axis=1)

In [ ]:
df_final

,event_date,event_params_engagement_time_msec,event_params_ga_session_id,event_params_ga_session_number,event_params_session_engaged,user_pseudo_id,user_ltv_revenue,ecommerce_total_item_quantity,total_return_item_quantity,ecommerce_purchase_revenue_in_usd,ecommerce_tax_value_in_usd,ecommerce_unique_items,ecommerce_transaction_id,item_price_in_usd,item_promotion_name,item_quantity,item_refund_in_usd,item_refund_quantity,item_revenue_in_usd,event_name_add_to_cart,event_name_begin_checkout,event_name_page_view,event_name_scroll,event_name_select_item,event_name_user_engagement,event_name_view_item,device_category_desktop,device_category_mobile,device_mobile_brand_name_Apple,device_mobile_brand_name_Google,device_mobile_brand_name_Huawei,device_mobile_brand_name_Microsoft,device_mobile_brand_name_Mozilla,device_mobile_brand_name_Samsung,device_mobile_brand_name_Xiaomi,device_mobile_model_name_Chrome,device_mobile_model_name_ChromeBook,device_mobile_model_name_Edge,device_mobile_model_name_Firefox,device_mobile_model_name_Safari,device_mobile_model_name_iPad,device_mobile_model_name_iPhone,device_web_info_browser_AndroidWebview,device_web_info_browser_Chrome,device_web_info_browser_Edge,device_web_info_browser_Firefox,device_web_info_browser_Safari,geo_country_Canada,geo_country_France,geo_country_India,geo_country_Other,geo_country_Spain,geo_country_UnitedKingdom,geo_country_UnitedStates,traffic_source_medium_Other,traffic_source_medium_cpc,traffic_source_medium_organic,traffic_source_medium_referral,event_params_parent_page_Apparel,event_params_parent_page_CampusCollection,event_params_parent_page_CheckoutConfirmation,event_params_parent_page_CheckoutYourInformation,event_params_parent_page_EcoFriendly,event_params_parent_page_Home,event_params_parent_page_Lifestyle,event_params_parent_page_New,event_params_parent_page_Other,event_params_parent_page_PaymentMethod,event_params_parent_page_Sale,event_params_parent_page_ShopbyBrand,event_params_parent_page_ShoppingCart,event_params_parent_page_Stationery,event_params_child_page_Bags,event_params_child_page_Drinkware,event_params_child_page_Google,event_params_child_page_Hats,event_params_child_page_Kids,event_params_child_page_MensUnisex,event_params_child_page_Notebooks,event_params_child_page_Other,event_params_child_page_SmallGoods,event_params_child_page_Socks,event_params_child_page_Stickers,event_params_child_page_Womens,event_params_child_page_Writing,event_params_child_page_YouTube,item_parent_category_Apparel,item_parent_category_Collections,item_parent_category_Lifestyle,item_parent_category_New,item_parent_category_Other,item_parent_category_Sale,item_parent_category_ShopbyBrand,item_parent_category_Stationery,item_child_category_Bags,item_child_category_CampusCollection,item_child_category_Drinkware,item_child_category_Google,item_child_category_Kids,item_child_category_MensUnisex,item_child_category_Other,item_child_category_SmallGoods,item_child_category_Womens,item_child_subcategory_Backpacks,item_child_subcategory_ElectronicsAccessories,item_child_subcategory_Infant,item_child_subcategory_MensTShirts,item_child_subcategory_MugsTumblers,item_child_subcategory_Other,item_child_subcategory_WaterBottles
0,2020-11-05,0,9520224276,15,0,6430802.0723483089,0.000,0,0,0.000,0.000,0,None,0.000,0,0,0.000,0,0.000,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2020-11-16,0,1338488416,15,0,637884255.3997903180,0.000,0,0,0.000,0.000,1,None,0.000,1,0,0.000,0,0.000,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2020-11-28,18850,7416885767,21,1,87116489.5307133653,0.000,0,0,0.000,0.000,12,None,0.000,0,0,0.000,0,0.000,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2020-11-28,30247,7416885767,21,1,87116489.5307133653,0.000,0,0,0.000,0.000,12,None,0.000,0,0,0.000,0,0.000,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2020-11-28,30247,7416885767,21,1,87116489.5307133653,0.000,0,0,0.000,0.000,12,None,0.000,0,0,0.000,0,0.000,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002005,2021-01-12,5235,1044126687,14,1,27333015.4039048206,105.000,0,0,0.000,0.000,0,None,0.000,0,0,0.000,0,0.000,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2002006,2021-01-12,572,1044126687,14,1,27333015.4039048206,105.000,0,0,0.000,0.000,0,None,0.000,0,0,0.000,0,0.000,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2002007,2021-01-12,463,1044126687,14,1,27333015.4039048206,105.000,0,0,0.000,0.000,0,None,0.000,0,0,0.000,0,0.000,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2002008,2021-01-12,6,1044126687,14,1,27333015.4039048206,105.000,0,0,0.000,0.000,0,None,0.000,0,0,0.000,0,0.000,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2002009,2021-01-12,9,1044126687,14,1,27333015.4039048206,105.000,0,0,0.000,0.000,0,None,0.000,0,0,0.000,0,0.000,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# Write data back to gbq

In [ ]:
# create table schema to prevent errors when uploading data
schema = []

for col, dtype in zip(df_final.dtypes.index, df_final.dtypes.values):
    col_dict = {}
    col_dict['name'] = col

    if dtype == object:
        typ = 'STRING'
    elif dtype == bool:
        typ = 'BOOLEAN'
    elif dtype == 'datetime64[ns]':
        typ = 'DATETIME'
    elif dtype in (int, 'Int64', 'uint8'):
        typ = 'INTEGER'
    elif dtype == float:
        typ = 'FLOAT'
    else:
        print(dtype)
    col_dict['type'] = typ

    schema.append(col_dict)

In [ ]:
schema

[{'name': 'event_date', 'type': 'DATETIME'},
 {'name': 'event_params_engagement_time_msec', 'type': 'INTEGER'},
 {'name': 'event_params_ga_session_id', 'type': 'STRING'},
 {'name': 'event_params_ga_session_number', 'type': 'INTEGER'},
 {'name': 'event_params_session_engaged', 'type': 'INTEGER'},
 {'name': 'user_pseudo_id', 'type': 'STRING'},
 {'name': 'user_ltv_revenue', 'type': 'FLOAT'},
 {'name': 'ecommerce_total_item_quantity', 'type': 'INTEGER'},
 {'name': 'total_return_item_quantity', 'type': 'INTEGER'},
 {'name': 'ecommerce_purchase_revenue_in_usd', 'type': 'FLOAT'},
 {'name': 'ecommerce_tax_value_in_usd', 'type': 'FLOAT'},
 {'name': 'ecommerce_unique_items', 'type': 'INTEGER'},
 {'name': 'ecommerce_transaction_id', 'type': 'STRING'},
 {'name': 'item_price_in_usd', 'type': 'FLOAT'},
 {'name': 'item_promotion_name', 'type': 'INTEGER'},
 {'name': 'item_quantity', 'type': 'INTEGER'},
 {'name': 'item_refund_in_usd', 'type': 'FLOAT'},
 {'name': 'item_refund_quantity', 'type': 'INTEGER'},
 {'name': 'item_revenue_in_usd', 'type': 'FLOAT'},
 {'name': 'event_name_add_to_cart', 'type': 'INTEGER'},
 {'name': 'event_name_begin_checkout', 'type': 'INTEGER'},
 {'name': 'event_name_page_view', 'type': 'INTEGER'},
 {'name': 'event_name_scroll', 'type': 'INTEGER'},
 {'name': 'event_name_select_item', 'type': 'INTEGER'},
 {'name': 'event_name_user_engagement', 'type': 'INTEGER'},
 {'name': 'event_name_view_item', 'type': 'INTEGER'},
 {'name': 'device_category_desktop', 'type': 'INTEGER'},
 {'name': 'device_category_mobile', 'type': 'INTEGER'},
 {'name': 'device_mobile_brand_name_Apple', 'type': 'INTEGER'},
 {'name': 'device_mobile_brand_name_Google', 'type': 'INTEGER'},
 {'name': 'device_mobile_brand_name_Huawei', 'type': 'INTEGER'},
 {'name': 'device_mobile_brand_name_Microsoft', 'type': 'INTEGER'},
 {'name': 'device_mobile_brand_name_Mozilla', 'type': 'INTEGER'},
 {'name': 'device_mobile_brand_name_Samsung', 'type': 'INTEGER'},
 {'name': 'device_mobile_brand_name_Xiaomi', 'type': 'INTEGER'},
 {'name': 'device_mobile_model_name_Chrome', 'type': 'INTEGER'},
 {'name': 'device_mobile_model_name_ChromeBook', 'type': 'INTEGER'},
 {'name': 'device_mobile_model_name_Edge', 'type': 'INTEGER'},
 {'name': 'device_mobile_model_name_Firefox', 'type': 'INTEGER'},
 {'name': 'device_mobile_model_name_Safari', 'type': 'INTEGER'},
 {'name': 'device_mobile_model_name_iPad', 'type': 'INTEGER'},
 {'name': 'device_mobile_model_name_iPhone', 'type': 'INTEGER'},
 {'name': 'device_web_info_browser_AndroidWebview', 'type': 'INTEGER'},
 {'name': 'device_web_info_browser_Chrome', 'type': 'INTEGER'},
 {'name': 'device_web_info_browser_Edge', 'type': 'INTEGER'},
 {'name': 'device_web_info_browser_Firefox', 'type': 'INTEGER'},
 {'name': 'device_web_info_browser_Safari', 'type': 'INTEGER'},
 {'name': 'geo_country_Canada', 'type': 'INTEGER'},
 {'name': 'geo_country_France', 'type': 'INTEGER'},
 {'name': 'geo_country_India', 'type': 'INTEGER'},
 {'name': 'geo_country_Other', 'type': 'INTEGER'},
 {'name': 'geo_country_Spain', 'type': 'INTEGER'},
 {'name': 'geo_country_UnitedKingdom', 'type': 'INTEGER'},
 {'name': 'geo_country_UnitedStates', 'type': 'INTEGER'},
 {'name': 'traffic_source_medium_Other', 'type': 'INTEGER'},
 {'name': 'traffic_source_medium_cpc', 'type': 'INTEGER'},
 {'name': 'traffic_source_medium_organic', 'type': 'INTEGER'},
 {'name': 'traffic_source_medium_referral', 'type': 'INTEGER'},
 {'name': 'event_params_parent_page_Apparel', 'type': 'INTEGER'},
 {'name': 'event_params_parent_page_CampusCollection', 'type': 'INTEGER'},
 {'name': 'event_params_parent_page_CheckoutConfirmation', 'type': 'INTEGER'},
 {'name': 'event_params_parent_page_CheckoutYourInformation',
  'type': 'INTEGER'},
 {'name': 'event_params_parent_page_EcoFriendly', 'type': 'INTEGER'},
 {'name': 'event_params_parent_page_Home', 'type': 'INTEGER'},
 {'name': 'event_params_parent_page_Lifestyle', 'type': 'INTEGER'},
 {'name': 'event_params_parent_page_New', 'type': 'INTEGER'},
 {'name': 'event_params_parent_page_Other', 'type': 'INTEGER'},
 {'name': 'event_params_parent_page_PaymentMethod', 'type': 'INTEGER'},
 {'name': 'event_params_parent_page_Sale', 'type': 'INTEGER'},
 {'name': 'event_params_parent_page_ShopbyBrand', 'type': 'INTEGER'},
 {'name': 'event_params_parent_page_ShoppingCart', 'type': 'INTEGER'},
 {'name': 'event_params_parent_page_Stationery', 'type': 'INTEGER'},
 {'name': 'event_params_child_page_Bags', 'type': 'INTEGER'},
 {'name': 'event_params_child_page_Drinkware', 'type': 'INTEGER'},
 {'name': 'event_params_child_page_Google', 'type': 'INTEGER'},
 {'name': 'event_params_child_page_Hats', 'type': 'INTEGER'},
 {'name': 'event_params_child_page_Kids', 'type': 'INTEGER'},
 {'name': 'event_params_child_page_MensUnisex', 'type': 'INTEGER'},
 {'name': 'event_params_child_page_Notebooks', 'type': 'INTEGER'},
 {'name': 'event_params_child_page_Other', 'type': 'INTEGER'},
 {'name': 'event_params_child_page_SmallGoods', 'type': 'INTEGER'},
 {'name': 'event_params_child_page_Socks', 'type': 'INTEGER'},
 {'name': 'event_params_child_page_Stickers', 'type': 'INTEGER'},
 {'name': 'event_params_child_page_Womens', 'type': 'INTEGER'},
 {'name': 'event_params_child_page_Writing', 'type': 'INTEGER'},
 {'name': 'event_params_child_page_YouTube', 'type': 'INTEGER'},
 {'name': 'item_parent_category_Apparel', 'type': 'INTEGER'},
 {'name': 'item_parent_category_Collections', 'type': 'INTEGER'},
 {'name': 'item_parent_category_Lifestyle', 'type': 'INTEGER'},
 {'name': 'item_parent_category_New', 'type': 'INTEGER'},
 {'name': 'item_parent_category_Other', 'type': 'INTEGER'},
 {'name': 'item_parent_category_Sale', 'type': 'INTEGER'},
 {'name': 'item_parent_category_ShopbyBrand', 'type': 'INTEGER'},
 {'name': 'item_parent_category_Stationery', 'type': 'INTEGER'},
 {'name': 'item_child_category_Bags', 'type': 'INTEGER'},
 {'name': 'item_child_category_CampusCollection', 'type': 'INTEGER'},
 {'name': 'item_child_category_Drinkware', 'type': 'INTEGER'},
 {'name': 'item_child_category_Google', 'type': 'INTEGER'},
 {'name': 'item_child_category_Kids', 'type': 'INTEGER'},
 {'name': 'item_child_category_MensUnisex', 'type': 'INTEGER'},
 {'name': 'item_child_category_Other', 'type': 'INTEGER'},
 {'name': 'item_child_category_SmallGoods', 'type': 'INTEGER'},
 {'name': 'item_child_category_Womens', 'type': 'INTEGER'},
 {'name': 'item_child_subcategory_Backpacks', 'type': 'INTEGER'},
 {'name': 'item_child_subcategory_ElectronicsAccessories', 'type': 'INTEGER'},
 {'name': 'item_child_subcategory_Infant', 'type': 'INTEGER'},
 {'name': 'item_child_subcategory_MensTShirts', 'type': 'INTEGER'},
 {'name': 'item_child_subcategory_MugsTumblers', 'type': 'INTEGER'},
 {'name': 'item_child_subcategory_Other', 'type': 'INTEGER'},
 {'name': 'item_child_subcategory_WaterBottles', 'type': 'INTEGER'}]

In [ ]:
df_final.to_gbq(f'{project_name}.return_prediction_ga4.return_prediction_ga4_1c',
                      project_id=project_name,
                      if_exists='replace',
                      location=region,
                      chunksize=100_000,
                      table_schema=schema)

100%|██████████| 1/1 [00:00<00:00, 4495.50it/s]